.root {
  height: 50px;
  width: 200px;
  background-color: rgb(102, 42, 171);
}

.menu {
  background-color: rgb(231, 226, 237);
  width: 200px;
}
.menu1 {
  background-color: rgb(231, 226, 237);
  width: 4010px;
}
.settings1 {
  padding-left: 500px;
  padding-top: 50px;
  .div {
    text-decoration: underline;
  }
}

.label1 {
  position: absolute;
  top: 300px;
  left: 800px;
  width: 300px;
}
